    <!--header start-->
    <header id="masthead" class="header cmt-header-style-01">
        <!-- top_bar -->
        <div class="top_bar cmt-bgcolor-darkgrey cmt-textcolor-white clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-row align-items-center">
                        <a class="cmt-btn btn-inline cmt-btn-size-sm cmt-btn-color-white cmt-icon-btn-right" href="#">track online<i class="ti ti-arrow-right"></i></a>
                        <div class="top_bar_contact_item">
                            <div class="top_bar_icon"></div>You can request status (pending confirmation) in 24 hours
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-row align-items-center">
                        <div class="top_bar_contact_item ml-auto">
                            <div class="top_bar_icon"><i class="ti ti-email"></i></div><a href="mailto:info@example.com">info@afriglobal-logistics.com</a>
                        </div>
                        <div class="top_bar_contact_item">
                            <div class="top_bar_icon"><i class="ti ti-mobile"></i></div>+234 8091221764
                        </div>
                        <div class="top_bar_contact_item">
                            <div class="top_bar_social">
                                <ul class="social-icons">
                                    <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Facebook" tabindex="-1"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Twitter" tabindex="-1"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Flickr" tabindex="-1"><i class="fa fa-flickr"></i></a>
                                    </li>
                                    <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Linkedin" tabindex="-1"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- top_bar end-->
        <!-- site-header-menu -->
        <div id="site-header-menu" class="site-header-menu cmt-textcolor-dark">
            <div class="site-header-menu-inner cmt-stickable-header">
                <div class="container">
                    <div class="cmt-bg cmt-col-bgcolor-yes cmt-right-span cmt-bgcolor-white mb_60 res-1199-mb-0 z-index-2">
                        <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                        <div class="layer-content">
                            <!--site-navigation -->
                            <div class="site-navigation d-flex flex-row">
                                <div class="pl-5 cmt-bgcolor-skincolor mr-30 res-1199-pl-0 res-1199-mr-0"></div>
                                <!-- site-branding -->
                                <div class="site-branding mr-auto">
                                    <a class="home-link" href="index.html" title="Movixo" rel="home">
                                        <img id="logo-img" class="img-center" src="/assets/images/logo.png" alt="logo-img">
                                    </a>
                                </div><!-- site-branding end -->
                                <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                    <span class="menubar-box">
                                        <span class="menubar-inner"></span>
                                    </span>
                                </div>
                                <!-- menu -->
                                <nav class="main-menu menu-mobile" id="menu">
                                    <ul class="menu">
                                        <li class="mega-menu-item active" (click)="route('home')">
                                            <a class="mega-menu-link">Home</a>
                                        </li>
                                        <li class="mega-menu-item">
                                            <a class="mega-menu-link">About</a>
                                            <ul class="mega-submenu">
                                                <li><a (click)="route('about-afriglobal')">About Afriglobal</a></li>
                                                <li><a (click)="route('quality-assurance')">Quality Assurance</a></li>
                                                <li><a (click)="route('recognition-awards')">Recognition & Awards</a></li>
                                                <li><a (click)="route('clients')">Clients</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item megamenu-fw">
                                            <a class="mega-menu-link">Services</a>
                                            <ul class="mega-submenu megamenu-content" role="menu">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-menu col-md-4">
                                                            <h6 class="title"></h6>
                                                            <div class="content">
                                                                <ul class="menu-col">
                                                                    <li><a (click)="route('integrated-logistics-solution')">Itegrated Logistics Solutions</a></li>
                                                                    <li><a (click)="route('door-to-door')">Door To Door</a></li>
                                                                    <li><a (click)="route('air-fright')">Ait Freight</a></li>
                                                                    <li><a (click)="route('sea-fright')">Sea Fright</a></li>
                                                                </ul>
                                                            </div>
                                                        </div><!-- end col-3 -->
                                                        <div class="col-menu col-md-4">
                                                            <h6 class="title"></h6>
                                                            <div class="content">
                                                                <ul class="menu-col">
                                                                    <li><a (click)="route('chartering-service')">Chartering Service</a></li>
                                                                    <li><a (click)="route('custom-clearance')">Custom Clearance</a></li>
                                                                    <li><a (click)="route('road-transport')">Road Transport</a></li>
                                                                    <li><a (click)="route('water-transport')">Water Transport/ Barging</a></li>
                                                                </ul>
                                                            </div>
                                                        </div><!-- end col-3 -->
                                                        <div class="col-menu col-md-4">
                                                            <h6 class="title"></h6>
                                                            <div class="content">
                                                                <ul class="menu-col">
                                                                    <li><a (click)="route('warehousing-and-distribution')">Warehousing And Distribution</a></li>
                                                                    <li><a (click)="route('heavy-lift')">Heavy Lift And Oversize Cargo</a></li>
                                                                    <li><a (click)="route('logistics-for-comodities')">Logistics For Comodity Trading</a></li>
                                                                    <li><a (click)="route('project-handling')">Project Handling</a></li>
                                                                </ul>
                                                            </div>
                                                        </div><!-- end col-3 -->
                                                       
                                                    </div><!-- end row -->
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item megamenu-fw" (click)="route('csr-activities')">
                                            <a  class="mega-menu-link">CSR</a>
                                        </li>
                                        <li class="mega-menu-item" (click)="route('hse-policy')">
                                            <a class="mega-menu-link">HSE Policy</a>
                                        </li>
                                        <li class="mega-menu-item" (click)="route('get-qoute')">
                                            <a class="mega-menu-link">Get A Quote</a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="header_extra d-flex flex-row align-items-center justify-content-end">
                                    <div class="header_search">
                                        <a href="#" class="btn-default search_btn"><i class="ti ti-search"></i></a>
                                        <div class="header_search_content">
                                            <form id="searchbox" method="get" action="#">
                                                <input class="search_query" type="text" id="search_query_top" name="s" placeholder="Enter Keyword" value="">
                                                <button type="submit" class="btn close-search"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="header_cart">
                                        <a href="#" class="button-cart">
                                            <div class="cart_icon"><i class="ti ti-shopping-cart"></i></div>
                                            <div class="cart_count">0</div>
                                        </a>
                                    </div>
                                    <div class="header_btn">
                                        <a class="cmt-btn btn-inline cmt-icon-btn-right cmt-btn-size-md cmt-btn-color-dark" (click)="route('contact')">Conatct!<i class="ti ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div><!-- site-navigation end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- site-header-menu end-->
    </header><!--header end-->
    
    
    <!-- START homemainclassicslider REVOLUTION SLIDER 6.1.0 -->
    <rs-module-wrap id="rev_slider_2_1_wrapper" data-source="gallery" style="background:transparent;padding:0;">
        <rs-module id="rev_slider_2_1" class="rs-respect-topbar" style="display:none;" data-version="6.1.6">
    
            <rs-slides>

                <rs-slide data-key="rs-3" data-title="Intro" data-anim="ei:d;eo:d;s:1500;r:0;t:slideoververtical;sl:7;" data-firstanim="t:fade;s:1500;sl:7;">
    
                    <img src="/assets/images/slides/slider-mainbg-003.jpg" title="mainslider-bg-001" width="1920" height="705" class="rev-slidebg" data-no-retina />
    
                    <rs-layer   id="slider-2-slide-1-layer-1"
                                data-type="text" 
                                data-xy="x:l;xo:50px,50px,30px,20px;y:m;yo:-115px,-101px,-91px,-68px;"
                                data-text="w:normal;s:60,50,40,30;l:70,60,50,40;fw:700;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_0_mask="u:t;y:100%;" 
                                data-frame_1="tp:600;e:power4.inOut;st:750;sp:2000;" 
                                data-frame_1_mask="u:t;" 
                                data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;"
                                style="z-index:5;font-family:'DM Sans', sans-serif;">The Best Cargo Transport
                    </rs-layer>
    
                    <rs-layer   id="slider-2-slide-1-layer-2"
                                data-type="text" 
                                data-xy="x:l;xo:50px,50px,30px,20px;y:m;yo:-44px,-34px,-38px,-18px;"
                                data-text="w:normal;s:60,50,40,30;l:70,60,50,40;fw:700;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_0_mask="u:t;y:100%;" 
                                data-frame_1="tp:600;e:power4.inOut;st:1000;sp:2000;" 
                                data-frame_1_mask="u:t;" 
                                data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;"
                                style="z-index:5;font-family:'DM Sans', sans-serif;">Services Provider
                    </rs-layer>
    
                    <rs-layer   id="slider-2-slide-1-layer-3"
                                data-type="text" 
                                data-xy="x:l;xo:50px,50px,30px,-520px;y:m;yo:16px,22px,11px,0;"   
                                data-text="s:20,20,20,18;l:25,25,22,20;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_0_mask="u:t;y:100%;" 
                                data-frame_1="tp:600;e:power4.inOut;st:1000;sp:2000;" 
                                data-frame_1_mask="u:t;" 
                                data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;"
                                style="z-index:5;font-family:'DM Sans', sans-serif; font-style: italic;">Space allocation, timing, frequency and rates that suit you.
                    </rs-layer>
    
                    <rs-layer   id="slider-2-slide-1-layer-4" 
                                class="rev-btn cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-fill cmt-btn-color-skincolor" 
                                data-type="button" 
                                data-rsp_ch="on"
                                data-text="s:14,14,14,12;a:c;"
                                data-xy="x:l;xo:50px,50px,30px,20px;y:b,b,b,b;yo:232px,231px,105px,78px;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_1="tp:600;e:power4.inOut;st:1250;sp:2000;" 
                                data-frame_999="y:175%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;" 
                                style="z-index:7;font-family:'DM Sans', sans-serif; text-transform: uppercase;">Contact Us
                    </rs-layer>
    
                </rs-slide>
    
                <rs-slide data-key="rs-2" data-title="Intro" data-anim="ei:d;eo:d;s:1500;r:0;t:slideoververtical;sl:7;" data-firstanim="t:fade;s:1500;sl:7;">
    
                    <img src="/assets/images/slides/slider-mainbg-001.jpg" title="mainslider-bg-001" width="1920" height="705" class="rev-slidebg" data-no-retina />
    
                    <rs-layer   id="slider-2-slide-1-layer-1"
                                data-type="text" 
                                data-xy="x:l;xo:50px,50px,30px,20px;y:m;yo:-115px,-101px,-91px,-68px;"
                                data-text="w:normal;s:60,50,40,30;l:70,60,50,40;fw:700;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_0_mask="u:t;y:100%;" 
                                data-frame_1="tp:600;e:power4.inOut;st:750;sp:2000;" 
                                data-frame_1_mask="u:t;" 
                                data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;"
                                style="z-index:5;font-family:'DM Sans', sans-serif;">The Best Air Transport
                    </rs-layer>
    
                    <rs-layer   id="slider-2-slide-1-layer-2"
                                data-type="text" 
                                data-xy="x:l;xo:50px,50px,30px,20px;y:m;yo:-44px,-34px,-38px,-18px;"
                                data-text="w:normal;s:60,50,40,30;l:70,60,50,40;fw:700;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_0_mask="u:t;y:100%;" 
                                data-frame_1="tp:600;e:power4.inOut;st:1000;sp:2000;" 
                                data-frame_1_mask="u:t;" 
                                data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;"
                                style="z-index:5;font-family:'DM Sans', sans-serif;">Services Provider
                    </rs-layer>
    
                    <rs-layer   id="slider-2-slide-1-layer-3"
                                data-type="text" 
                                data-xy="x:l;xo:50px,50px,30px,-520px;y:m;yo:16px,22px,11px,0;"   
                                data-text="s:20,20,20,18;l:25,25,22,20;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_0_mask="u:t;y:100%;" 
                                data-frame_1="tp:600;e:power4.inOut;st:1000;sp:2000;" 
                                data-frame_1_mask="u:t;" 
                                data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;"
                                style="z-index:5;font-family:'DM Sans', sans-serif; font-style: italic;">Added flexibility to your supply chain.
                    </rs-layer>
    
                    <rs-layer   id="slider-2-slide-1-layer-4" 
                                class="rev-btn cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-fill cmt-btn-color-skincolor" 
                                data-type="button" 
                                data-rsp_ch="on"
                                data-text="s:14,14,14,12;a:c;"
                                data-xy="x:l;xo:50px,50px,30px,20px;y:b,b,b,b;yo:232px,231px,105px,78px;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_1="tp:600;e:power4.inOut;st:1250;sp:2000;" 
                                data-frame_999="y:175%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;" 
                                style="z-index:7;font-family:'DM Sans', sans-serif; text-transform: uppercase;">Contact Us
                    </rs-layer>
    
                </rs-slide>
    
    
                <rs-slide data-key="rs-1" data-title="Slide" data-anim="ei:d;eo:d;s:d;r:0;t:slideoververtical;sl:d;" data-firstanim="t:fade;s:2000;sl:7;">
    
                    <img src="/assets/images/slides/slider-mainbg-004.jpg" title="mainslider-bg-001" width="1920" height="705" class="rev-slidebg" data-no-retina />
    
                    <rs-layer   id="slider-2-slide-2-layer-1"
                                data-type="text" 
                                data-xy="x:l;xo:50px,50px,30px,20px;y:m;yo:-115px,-101px,-91px,-68px;" 
                                data-text="w:normal;s:60,50,40,30;l:70,60,50,40;fw:700;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_0_mask="u:t;y:100%;" 
                                data-frame_1="tp:600;e:power4.inOut;st:750;sp:2000;" 
                                data-frame_1_mask="u:t;" 
                                data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;"
                                style="z-index:5;font-family:'DM Sans', sans-serif;">The Best Truck Transport
                    </rs-layer>
    
                    <rs-layer   id="slider-2-slide-2-layer-2"
                                data-type="text" 
                                data-xy="x:l;xo:50px,50px,30px,20px;y:m;yo:-44px,-34px,-38px,-18px;"
                                data-text="w:normal;s:60,50,40,30;l:70,60,50,40;fw:700;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_0_mask="u:t;y:100%;" 
                                data-frame_1="tp:600;e:power4.inOut;st:1000;sp:2000;" 
                                data-frame_1_mask="u:t;" 
                                data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;"
                                style="z-index:5;font-family:'DM Sans', sans-serif;">Services Provider
                    </rs-layer>
    
                    <rs-layer   id="slider-2-slide-2-layer-3"
                                data-type="text" 
                                data-xy="x:l;xo:50px,50px,30px,-520px;y:m;yo:16px,22px,11px,0;"   
                                data-text="s:20,20,20,18;l:25,25,22,20;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_0_mask="u:t;y:100%;" 
                                data-frame_1="tp:600;e:power4.inOut;st:1000;sp:2000;" 
                                data-frame_1_mask="u:t;" 
                                data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;"
                                style="z-index:5;font-family:'DM Sans', sans-serif; font-style: italic;">Fitted with tracking devices to enable our clients track their consignments.
                    </rs-layer>
    
                    <rs-layer   id="slider-2-slide-2-layer-4" 
                                class="rev-btn cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-fill cmt-btn-color-skincolor" 
                                data-type="button" 
                                data-rsp_ch="on"
                                data-text="s:14,14,14,12;a:c;"
                                data-xy="x:l;xo:50px,50px,30px,20px;y:b,b,b,b;yo:232px,231px,105px,78px;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_1="tp:600;e:power4.inOut;st:1250;sp:2000;" 
                                data-frame_999="y:175%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;" 
                                style="z-index:7;font-family:'DM Sans', sans-serif; text-transform: uppercase;">Contact Us
                    </rs-layer>
    
                </rs-slide>

                <rs-slide data-key="rs-4" data-title="Slide" data-anim="ei:d;eo:d;s:d;r:0;t:slideoververtical;sl:d;" data-firstanim="t:fade;s:2000;sl:7;">
    
                    <img src="/assets/images/slides/slider-mainbg-007.jpg" title="mainslider-bg-001" width="1920" height="705" class="rev-slidebg" data-no-retina />
    
                    <rs-layer   id="slider-2-slide-2-layer-1"
                                data-type="text" 
                                data-xy="x:l;xo:50px,50px,30px,20px;y:m;yo:-115px,-101px,-91px,-68px;" 
                                data-text="w:normal;s:60,50,40,30;l:70,60,50,40;fw:700;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_0_mask="u:t;y:100%;" 
                                data-frame_1="tp:600;e:power4.inOut;st:750;sp:2000;" 
                                data-frame_1_mask="u:t;" 
                                data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;"
                                style="z-index:5;font-family:'DM Sans', sans-serif;">The Best Warehousing
                    </rs-layer>
    
                    <rs-layer   id="slider-2-slide-2-layer-2"
                                data-type="text" 
                                data-xy="x:l;xo:50px,50px,30px,20px;y:m;yo:-44px,-34px,-38px,-18px;"
                                data-text="w:normal;s:60,50,40,30;l:70,60,50,40;fw:700;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_0_mask="u:t;y:100%;" 
                                data-frame_1="tp:600;e:power4.inOut;st:1000;sp:2000;" 
                                data-frame_1_mask="u:t;" 
                                data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;"
                                style="z-index:5;font-family:'DM Sans', sans-serif;">Services Provider
                    </rs-layer>
    
                    <rs-layer   id="slider-2-slide-2-layer-3"
                                data-type="text" 
                                data-xy="x:l;xo:50px,50px,30px,-520px;y:m;yo:16px,22px,11px,0;"   
                                data-text="s:20,20,20,18;l:25,25,22,20;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_0_mask="u:t;y:100%;" 
                                data-frame_1="tp:600;e:power4.inOut;st:1000;sp:2000;" 
                                data-frame_1_mask="u:t;" 
                                data-frame_999="y:100%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;"
                                style="z-index:5;font-family:'DM Sans', sans-serif; font-style: italic;">Increased efficiency within the supply chain to achieve savings and reduce costs.
                    </rs-layer>
    
                    <rs-layer   id="slider-2-slide-2-layer-4" 
                                class="rev-btn cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-fill cmt-btn-color-skincolor" 
                                data-type="button" 
                                data-rsp_ch="on"
                                data-text="s:14,14,14,12;a:c;"
                                data-xy="x:l;xo:50px,50px,30px,20px;y:b,b,b,b;yo:232px,231px,105px,78px;"
                                data-frame_0="y:100%;tp:600;" 
                                data-frame_1="tp:600;e:power4.inOut;st:1250;sp:2000;" 
                                data-frame_999="y:175%;tp:600;e:power2.inOut;st:w;sp:1000;" 
                                data-frame_999_mask="u:t;" 
                                style="z-index:7;font-family:'DM Sans', sans-serif; text-transform: uppercase;">Contact Us
                    </rs-layer>
    
                </rs-slide>

    
            </rs-slides>
    
            <rs-progress class="rs-bottom" style="visibility: hidden !important;"></rs-progress>
        </rs-module>
    </rs-module-wrap>
    <!-- END REVOLUTION SLIDER -->