



<div class="cmt-service-single-content-area">
    <div class="mb-30">


        <ul>
            <li>3rd party warehouse management into our warehouses and at client premises</li>
            <li>Real time stock inventory and warehouse movements accessible to clients via web</li>
            <li>Packing/Repacking at our main hubs.</li>
            <li>All in rates from hub to hub.</li>
            <li>Real time tracking system accessible to clients via web</li>
            <li>Additional insurance for high value goods available at discounted artes</li>
            <li>Granted timely delivery</li>
            <li>Lagos city cargo pick “Next Day Service”</li>
        </ul>
    </div>
    <div class="cmt-featured-wrapper mb-40 res-991-mb-20">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="/assets/images/services/serv11.jpg" alt="">
            </div>

            <div class="col-md-6">
                <img class="img-fluid" src="/assets/images/services/serv12.jpg" alt="">
            </div>
            
        </div>
    </div>
 
</div>