



<div class="cmt-service-single-content-area">
    <div class="mb-30">
        <p>Heavy Lift Department boasts more than 20 years’ experience in transport and installation of heavy lifts</p>

        <ul>
            <li>Engineering, planning, route surveys</li>
            <li>Transportation by road and water</li>
            <li>Jacking, lifting, raising, skidding and positioning abnormal loads Access to Prime Movers and Goldhofer modules (180 axles) with capacity up to 5,400 tons</li>
            <li>Heavy duty hydraulic modular trailer.</li>
            
        </ul>
    </div>
    <div class="cmt-featured-wrapper mb-40 res-991-mb-20">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="/assets/images/services/serv13.jpg" alt="">
            </div>

            <div class="col-md-6">
                <img class="img-fluid" src="/assets/images/services/serv14.jpg" alt="">
            </div>
            
        </div>
    </div>
 
</div>