
<div class="header">
    <app-others-header page="CSR" subpage="Cooperate Social Responsibility"></app-others-header>
</div>


<div class="cmt-row sidebar cmt-sidebar-right cmt-bgcolor-grey clearfix ">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-lg-12 content-area">
                <!-- post -->
                <article class="post cmt-blog-single clearfix">
                     <!-- post-featured-wrapper -->
                    <div class="cmt-post-featured-wrapper cmt-featured-wrapper">
                      
                    </div><!-- post-featured-wrapper end -->
                    <!-- cmt-blog-classic-content -->
                    <div class="cmt-blog-single-content">
                        
                        <div class="entry-content">
                            <div class="cmt-box-desc-text">
                                <h1>Socially Responsible Company</h1>
                                <p>At Afriglobal Logistics, our CSR activities are guided by our vision which is to “inspire Africa”. Through our CSR activities, we work to advance our corporate citizenship, build relationships of mutual trust with stake holders and aim for sustainable growth.</p>
                                <p>Through our foundation - Nagode Foundation, we is actively involved in several socio-economic projects that positively affect the lives of African people.  We believe in giving back to the communities in whom we have become who are thereby staying true to our values. Every year we commit some percentages of our profit solely to execute worthy projects that will leave a lasting impact in the lives of people.</p>
                                <p>Major activities financed by our Corporate Social Responsibility (CSR) team <strong>include:</strong></p>
                                <div class="row pb-15 pt-15">
                                    <div class="col-sm-4">
                                        <div class="single-gallery-image-wrap pb-15">
                                            <app-cards 
                                            title="Poverty Alleviation Schemes" 
                                            detail="We are committed to equipping willing Nigerians 
                                            with the necessary skills training and financial assistance 
                                            to help start-up businesses which will provide steady sources 
                                            of income thereby reducing poverty and lack."
                                            image="/assets/images/csr/csr1.jpg"></app-cards>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="single-gallery-image-wrap pb-15">
                                            <app-cards 
                                                title="Cancer awareness and Support" 
                                                detail="We are at the forefront of raising awareness for cancer 
                                                    in Nigeria. We hope to help increase the survival rate from 
                                                    its current low to meet international standards in Europe 
                                                    and America."
                                                image="/assets/images/csr/csr2.jpg"></app-cards>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="single-gallery-image-wrap pb-15">
                                            <app-cards 
                                            title="Women Empowerment Schemes" 
                                            detail="We are passionate about helping illiterate and widowed 
                                            women gain skills for businesses and financial assistance to start 
                                            up small businesses which can cater for their families."
                                            image="/assets/images/csr/csr3.jpg"></app-cards>
                                        </div>
                                    </div>
                                </div>

                                <div class="row pb-15 pt-15">
                                    <div class="col-sm-4">
                                        <div class="single-gallery-image-wrap pb-15">
                                            <app-cards 
                                            title="Youth Empowerment Schemes" 
                                            detail="We are committed to equipping willing Nigerians with the 
                                                necessary skills training and financial assistance to help 
                                                start-up businesses, thereby reducing poverty and lack."
                                            image="/assets/images/csr/csr4.jpg"></app-cards>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="single-gallery-image-wrap pb-15">
                                            <app-cards 
                                                title="African Achievers Award" 
                                                detail="Excellence recognition amongst young achievers to 
                                                inspire greater achievements amongst young Nigerians 
                                                nationwide."
                                                image="/assets/images/csr/csr5.jpg"></app-cards>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="single-gallery-image-wrap pb-15">
                                            <app-cards 
                                            title="Sports for Physically Challenged" 
                                            detail="Skaters Soccer for the Physically Challenged in the 
                                                Society to provide better living conditions and discourage 
                                                alms begging."
                                            image="/assets/images/csr/csr6.jpg"></app-cards>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>

                            
                        </div>
                    </div><!-- cmt-blog-classic-content end -->
                </article><!-- post end -->
            </div>
           
        </div><!-- row end -->
    </div>
</div>