<!-- featured-imagebox-post -->
<div class="featured-imagebox featured-imagebox-post">
    <div class="cmt-post-thumbnail featured-thumbnail"> 
        <img class="img-fluid" src={{image}} alt="image">
        
    </div>
    <div class="featured-content ">
        <div class="post-top">
            <!-- <div class="post-meta">
                <span class="cmt-meta-line"><i class="fa fa-user"></i>Admin</span>
                <span class="cmt-meta-line"><i class="fa fa-tags"></i>Bussiness</span>
            </div> -->
            <div class="post-title">
                <h2>{{title}}</h2>
                <p><a>{{detail}}</a></p>
            </div>
        </div>
        <div class="post-bottom cmt-post-link">
            <!-- <a class="cmt-btn cmt-btn-size-sm cmt-btn-color-dark btn-inline" href="blog-single.html" tabindex="0">Read more +</a>
            <div class="post-meta">
                <span class="cmt-meta-line tags-links"><i class="fa fa-comment"></i>02</span>
            </div> -->
        </div>
    </div>
</div><!-- featured-imagebox-post end-->