<div class="header">
    <app-others-header page="HSE" subpage="HSE Policy"></app-others-header>
</div>


<div class="cmt-row sidebar cmt-sidebar-right cmt-bgcolor-grey clearfix">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-lg-3 widget-area sidebar-right">
                <div class="cmt-post-featured">
                    <img class="img-fluid" src="/assets/images/hse-2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-9 content-area">
                <!-- post -->
                <article class="post cmt-blog-single clearfix">
                     <!-- post-featured-wrapper -->
                    <div class="cmt-post-featured-wrapper cmt-featured-wrapper">
                        <div class="cmt-post-featured">
                            <img class="img-fluid" src="images/blog/blog-two-780x520.jpg" alt="">
                        </div>
                    </div><!-- post-featured-wrapper end -->
                    <!-- cmt-blog-classic-content -->
                    <div class="cmt-blog-single-content">
                        <div class="cmt-post-entry-header">
                            
                        </div>
                        <div class="entry-content">
                            <div class="cmt-box-desc-text">
                                <h2>HSE POLICIES</h2>
                                <p>Afriglobal logistics strives to provide each employee with a safe and healthy work environment. Each employee has the responsibility of maintaining a safe and healthy workplace for all employees by following environmental, safety and health rules and practices and reporting accidents, injuries and unsafe equipment, practices and conditions.</p>
                                <p>Employees are expected to perform their related work in a safe manner, free of the influences of alcohol, illegal drugs or controlled substances. The use of illegal drugs in the workplace is not tolerated.</p>
                                <p>We expect its employees to follow all applicable environmental laws and regulations.</p>

                                <h2>COMPLIANCE</h2>
                                <p>Afriglobal Logistics is a company united by strong clear values and highest standards of behaviour.</p>
                                <p>Our business code of conduct stands for a fundamental commitment to comply with all applicable legal requirements and high ethical standards wherever we operate.</p>
                                <p>All our employees are accountable for upholding the requirements of our compliance program and our reputation and will be trained and educated.</p>
                            </div>
                        </div>
                    </div><!-- cmt-blog-classic-content end -->
                </article><!-- post end -->
            </div>
            
        </div><!-- row end -->
    </div>
</div>
