


<div class="page">

    <div class="header">
        <app-header></app-header>
    </div>

    <div class="site-main">
    <div class="about">
        <app-about-section></app-about-section>
    </div>

    <div class="services ">
        <app-services-section></app-services-section>
    </div>

    <div class="clients">
        <app-clients-section></app-clients-section>
    </div>

    <div class="contact">
        <app-contact-section></app-contact-section>
    </div>
    </div>

    <div class="footer">
        <app-footer></app-footer>
    </div>

    <!--back-to-top start-->
    <a id="totop" href="#top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!--back-to-top end-->


</div>
