<!--about_fid-section-->
<section class="cmt-row about_fid-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10">
                <div class="pt-10 res-991-pt-0">
                    <!-- section title -->
                    <div class="section-title">
                        <div class="title-header">
                            <h5>About Afriglobal</h5>
                            <h2 class="title">Brief History</h2>
                        </div>
                        <div class="heading-seperator"><span></span></div>
                    </div><!-- section title end -->
                    <p><strong>Afriglobal Group</strong> began operations in 1988 by a visionary man 
                        Mr. B. B. Garg. Our business was majorly raw chemical distribution.
                         We have since grown into a diversified entity with about five 
                         dynamic and fast growing competent organizations now referred 
                         to as Afriglobal Group of Companies. Each organization has 
                         developed into the market leader or one of the leading players in 
                         its own field.</p>
                   
                         <p>
                            Currently, beyond Nigeria, we have operations in Cameroun, Ghana, 
                            Djibouti, Ethiopia, Tanzania, and Egypt. We also have offices India, 
                            China and South Korea. However, its international outlook 
                            notwithstanding, Afriglobal group has remained true to its African 
                            Origin.
                         </p>
                    <div class="mt-25 mb-25">
                        <span class="cmt-horizontal_sep"></span>
                    </div>
                                    
                </div>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-9 mt-0 mx-auto">
                <!-- ttm_single_image-wrapper -->
                <div class="ttm_single_image-wrapper res-991-pt-30 res-991-pb-30">
                    <img class="img-fluid history-img" height="800px" src="/assets/images/single-img-six.jpg" alt="image">
                </div>
            </div>
        </div><!-- row end -->

        <div class="row">
            <div class="col-md-1"></div>
            <div class="group-image col-lg-10 col-md-10">
                <div class="mt-30">
                    <div class="company-image">
                        <div class="image">
                            <img src="/assets/images/abt-group2.jpg" width="100%" alt="">
                        </div>
                    </div>
                    <div class="mt-25 mb-25">
                        <span class="cmt-horizontal_sep"></span>
                    </div>
                                    
                </div>
            </div>
            <div class="col-md-1"></div>
            
        </div><!-- row end -->
    </div>
</section>
<!--about_fid-section end-->