<div class="header">
    <app-others-header page="Contact" subpage="Contact Us"></app-others-header>
</div>


<section class="cmt-row clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
               <div class="cmt-col-bgcolor-yes cmt-bg cmt-bgcolor-grey z-index-2 spacing-9 border-right">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <!-- section title -->
                    <div class="section-title with-desc clearfix">
                        <div class="title-header">
                            <h2 class="title">Get in Touch</h2>
                        </div>
                    </div><!-- section title end -->
                    <form id="cmt-contactform-2" class="cmt-contactform-2 wrap-form clearfix" method="post" action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>
                                    <span class="text-input"><input name="name" type="text" value="" placeholder="Your Name" required="required"></span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <label>
                                    <span class="text-input"><input name="address" type="text" value="" placeholder="Your Email" required="required"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label>
                                    <span class="text-input"><input name="phone" type="text" value="" placeholder="Phone Number" required="required"></span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <label>
                                    <span class="text-input"><input name="phone" type="text" value="" placeholder="Subject" required="required"></span>
                                </label>
                            </div>
                        </div>
                        <label>
                            <span class="text-input"><textarea name="message" rows="3" placeholder="Message" required="required"></textarea></span>
                        </label>
                        <button class="submit cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-fill cmt-btn-color-skincolor" type="submit">Send Message</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cmt-col-bgcolor-yes cmt-bg cmt-bgcolor-grey z-index-2 spacing-9 border-left">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <div class="layer-content">
                        <div class="mb-15 pb-15 border-bottom">
                            <h5>Location</h5>
                            <div class="d-flex">
                                <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-sm mr-2 mb-0">
                                    <i class="flaticon flaticon-world"></i>
                                </div>
                                <div>
                                    <h4>Head Office</h4>
                                    3rd Floor kazuma plaza, 2-4 kazuma street, Apapa, Lagos, Nigeria. 
                                </div>
                            </div>
                        </div>
                        <div class="mb-15 pb-15 border-bottom">
                            <h5>Phone</h5>
                            <div class="d-flex">
                                <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-sm mr-2 mb-0">
                                    <i class="flaticon flaticon-call"></i>
                                </div>
                                <div>Phone: +234 8091221764</div>
                            </div>
                        </div>
                        <div class="mb-15 pb-15 border-bottom">
                            <h5>Email</h5>
                            <div class="d-flex">
                                <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-sm mr-2 mb-0">
                                    <i class="flaticon flaticon-message"></i>
                                </div>
                                <div>Email: <a href="mailto:info@example.com">info@afriglobal-logistics.com</a></div>
                            </div>
                        </div>
                        <h5>Get Social</h5>
                        <ul class="social-icons circle social-hover mt-15">
                            <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="social-twitter"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="social-gplus"><a class=" tooltip-top" target="_blank" href="#" data-tooltip="Google+"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li class="social-linkedin"><a class=" tooltip-top" target="_blank" href="" data-tooltip="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- row end -->
       
    </div>
</section>

 <!--google_map-->
 <div id="google_map" class="google_map">
    <div class="map_container">
        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.6132225111896!2d3.367364474131671!3d6.443682924087504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8badee5d2173%3A0xb9f8bcf8f048ab4d!2sKazuma%20Plaza%2C%20Ede%20Street%2C%20Apapa%20Quays%20102272%2C%20Lagos!5e0!3m2!1sen!2sng!4v1694270528136!5m2!1sen!2sng" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>