



<div class="cmt-service-single-content-area">
    <div class="mb-30">
      <p>Our expertise in cargo handling and access to some of the biggest 
        logistic networks worldwide enables us to provide consultancy and to 
        implement Door-to-door Projects covering whole logistic process.</p>
        
        <p>Dedicated ERP system allows clients to track their cargo at any moment and in real time.</p>
    </div>
    <div class="cmt-featured-wrapper mb-40 res-991-mb-20">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="/assets/images/services/agl-man.jpg" alt="">
            </div>

            <div class="col-md-6">
                <img class="img-fluid" src="/assets/images/services/agl-truck.jpg" alt="">
            </div>
            
        </div>
    </div>

    <h1>ERP SOFTWARE</h1>

    <p>Afriglobal Logistics handles the service using an advanced ERP 
        application that proactively automate the integration of the different
         phases of material movements. Our software also allows our customers 
         to track all phases to the destination of the goods.</p>

         <div class="cmt-featured-wrapper mb-40 res-991-mb-20">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-fluid" src="/assets/images/services/serv17.jpg" alt="">
                </div>
    
                <div class="col-md-12 mt-20">
                    <img class="img-fluid" src="/assets/images/services/serv18.jpg" alt="">
                </div>
                
            </div>
        </div>
 
</div>