<div class="header">
    <app-others-header page="Career" subpage="Career"></app-others-header>
</div>


<div class="cmt-row sidebar cmt-sidebar-right cmt-bgcolor-grey clearfix">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-lg-9 m-auto content-area">
                <!-- post -->
                <article class="post cmt-blog-single clearfix">
                     <!-- post-featured-wrapper -->
                    <div class="cmt-post-featured-wrapper cmt-featured-wrapper">
                        <div class="cmt-post-featured">
                            <img class="img-fluid" src="images/blog/blog-two-780x520.jpg" alt="">
                        </div>
                    </div><!-- post-featured-wrapper end -->
                    <!-- cmt-blog-classic-content -->
                    <div class="cmt-blog-single-content">
                        <div class="cmt-post-entry-header">
                            
                        </div>
                        <div class="entry-content">
                            <div class="cmt-box-desc-text">

                                <p class="text">We are currently not hiring but you could send your CV to <span class="email"><strong>jobs@afriglobal-logistics.com </strong> </span> or <span class="email"><strong>recruitment@afriglobal-logistics.com</strong> </span>. we will get in touch with you once we have an opening that applies to you.</p>
                               
                            </div>
                        </div>
                    </div><!-- cmt-blog-classic-content end -->
                </article><!-- post end -->
            </div>
            
        </div><!-- row end -->
    </div>
</div>
