
<!--features-section-->
<section class="cmt-row features-section bg-img1 clearfix">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-lg-8 m-auto">
                <!-- section title -->
                <div class="section-title title-style-center_text">
                    <div class="title-header">
                        <h5>Our Clients</h5>
                        <h4 class="title">We are trusted by over a thousand customers to deliver the best service. Below is an abridged list of our major customers</h4>
                    </div>
                    <div class="heading-seperator"><span></span></div>
                </div><!-- section title end -->

                <div class="clients">
                    <img src="/assets/images/clients/cl-p1.jpg"  alt="">
                    <img src="/assets/images/clients/cl-p2.jpg"  alt="">
                    <img src="/assets/images/clients/cl-p3.jpg"  alt="">
                    <img src="/assets/images/clients/cl-p4.jpg"  alt="">
                    <img src="/assets/images/clients/cl-p5.jpg"  alt="">
                    <img src="/assets/images/clients/cl-p6.jpg"  alt="">
                    <img src="/assets/images/clients/cl-p7.jpg"  alt="">
                    <img src="/assets/images/clients/cl-p8.jpg"  alt="">
                </div>

                <div class="see-all">
                    <div class="button" (click)="route('clients')" >See All</div>
                </div>
            </div>
        </div><!-- row end -->
        

    </div>
</section>
<!--features-section-->

<!--action-row-section-->
<div class="cmt-row action-row-section cmt-bgcolor-skincolor cmt-bg cmt-bgimage-yes bg-img3 clearfix">
    <div class="cmt-row-wrapper-bg-layer cmt-bg-layer"></div>
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <div class="featured-icon-box icon-align-top-content style4 text-center">
                        <div class="featured-icon">
                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-white cmt-icon_element-size-lg">
                                <i class="flaticon-call"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-desc">
                                <p>Transport Special Offers</p>
                            </div>
                            <div class="featured-title">
                                <h5>Get A Transporting Services</h5>
                            </div>
                        </div>
                    </div>
                    <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-border cmt-btn-color-white mt-15"  title="" (click)="route('contact')">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--action-row-section end-->


 <!--fid-section-->
 <section class="cmt-row fid-border-section mt_60 res-991-mt-0 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cmt-bgcolor-grey z-index-2 position-relative">
                    <div class="row no-gutters cmt-vertical_sep">
                        <div class="col-lg-3 col-md-6 col-sm-6 cmt-box-col-wrapper">
                            <!-- cmt-fid -->
                            <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon style2">
                                <div class="cmt-fid-icon-wrapper cmt-textcolor-skincolor">
                                    <i class="flaticon-list"></i>
                                </div>
                                <div class="cmt-fid-contents">
                                    <h4 class="cmt-fid-inner">
                                        <span   data-appear-animation="animateDigits" 
                                                data-from="0" 
                                                data-to="450" 
                                                data-interval="15" 
                                                data-before="" 
                                                data-before-style="sup" 
                                                data-after="" 
                                                data-after-style="sub" 
                                                class="numinate">4500
                                        </span>
                                        <sub>+</sub>
                                    </h4>
                                    <h3 class="cmt-fid-title">Containers Per Year</h3>
                                </div>
                            </div><!-- cmt-fid end -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 cmt-box-col-wrapper">
                            <!-- cmt-fid -->
                            <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon style2">
                                <div class="cmt-fid-icon-wrapper cmt-textcolor-skincolor">
                                    <i class="ti ti-user"></i>
                                </div>
                                <div class="cmt-fid-contents">
                                    <h4 class="cmt-fid-inner">
                                        <span   data-appear-animation="animateDigits" 
                                                data-from="0" 
                                                data-to="41" 
                                                data-interval="15" 
                                                data-before="" 
                                                data-before-style="sup" 
                                                data-after="" 
                                                data-after-style="sub" 
                                                class="numinate">41
                                        </span>
                                        <sub>+</sub>
                                    </h4>
                                    <h3 class="cmt-fid-title">Team Members</h3>
                                </div>
                            </div><!-- cmt-fid end -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 cmt-box-col-wrapper">
                            <!-- cmt-fid -->
                            <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon style2">
                                <div class="cmt-fid-icon-wrapper cmt-textcolor-skincolor">
                                    <i class="flaticon flaticon-world"></i>
                                </div>
                                <div class="cmt-fid-contents">
                                    <h4 class="cmt-fid-inner">
                                        <span   data-appear-animation="animateDigits" 
                                                data-from="0" 
                                                data-to="675" 
                                                data-interval="12" 
                                                data-before="" 
                                                data-before-style="sup" 
                                                data-after="" 
                                                data-after-style="sub" 
                                                class="numinate">12
                                        </span>
                                        <sub>+</sub>
                                    </h4>
                                    <h3 class="cmt-fid-title">Countries Covered</h3>
                                </div>
                            </div><!-- cmt-fid end -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 cmt-box-col-wrapper">
                            <!-- cmt-fid -->
                            <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon style2">
                                <div class="cmt-fid-icon-wrapper cmt-textcolor-skincolor">
                                    <i class="ti ti-user"></i>
                                </div>
                                <div class="cmt-fid-contents">
                                    <h4 class="cmt-fid-inner">
                                        <span   data-appear-animation="animateDigits" 
                                                data-from="0" 
                                                data-to="217" 
                                                data-interval="15" 
                                                data-before="" 
                                                data-before-style="sup" 
                                                data-after="" 
                                                data-after-style="sub" 
                                                class="numinate">217
                                        </span>
                                        <sub>+</sub>
                                    </h4>
                                    <h3 class="cmt-fid-title">clients</h3>
                                </div>
                            </div><!-- cmt-fid end -->
                        </div>
                    </div><!-- row end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--fid-section end-->

