<div class="header">
    <app-others-header page="About Us" subpage="Clients"></app-others-header>
</div>



<!--features-section-->
<section class="cmt-row features-section bg-img1 clearfix">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-lg-10 m-auto">
                <!-- section title -->
                <div class="section-title title-style-center_text">
                    <div class="title-header">
                        <h5>Our Clients</h5>
                        <h4 class="title">We are trusted by over a thousand customers to deliver the best service. Below is an abridged list of our major customers</h4>
                    </div>
                    <div class="heading-seperator"><span></span></div>
                </div><!-- section title end -->

                <div class="clients">
                    <img src="/assets/images/clients/cl-p1.jpg"  alt="">
                    <img src="/assets/images/clients/cl-p2.jpg"  alt="">
                    <img src="/assets/images/clients/cl-p3.jpg"  alt="">
                    <img src="/assets/images/clients/cl-p4.jpg"  alt="">
                    <img src="/assets/images/clients/cl-p5.jpg"  alt="">
                    <img src="/assets/images/clients/cl-p6.jpg"  alt="">
                    <img src="/assets/images/clients/cl-p7.jpg"  alt="">
                    <img src="/assets/images/clients/c3.jpg"  alt="">
                    <img src="/assets/images/clients/c4.jpg"  alt="">
                    <img src="/assets/images/clients/c5.jpg"  alt="">
                    <img src="/assets/images/clients/c6.jpg"  alt="">
                    <img src="/assets/images/clients/c7.jpg"  alt="">
                    <img src="/assets/images/clients/c8.jpg"  alt="">
                    <img src="/assets/images/clients/c9.jpg"  alt="">
                    <img src="/assets/images/clients/c10.jpg"  alt="">
                    <img src="/assets/images/clients/c11.jpg"  alt="">
                    <img src="/assets/images/clients/c12.jpg"  alt="">
                    <img src="/assets/images/clients/c13.jpg"  alt="">
                    <img src="/assets/images/clients/c14.jpg"  alt="">
                    <img src="/assets/images/clients/c15.jpg"  alt="">
                    <img src="/assets/images/clients/c16.jpg"  alt="">
                    <img src="/assets/images/clients/c17.jpg"  alt="">
                    <img src="/assets/images/clients/c18.jpg"  alt="">
                    <img src="/assets/images/clients/c19.jpg"  alt="">
                    <img src="/assets/images/clients/c20.jpg"  alt="">
                    <img src="/assets/images/clients/c21.jpg"  alt="">
                    <img src="/assets/images/clients/c22.jpg"  alt="">
                </div>

                
            </div>
        </div><!-- row end -->
        

    </div>
</section>
<!--features-section-->

