<div class="header">
    <app-others-header page="About Us" subpage="Recognition & Awards"></app-others-header>
</div>


<!--grid-section-->
<section class="cmt-row grid-section clearfix section-content">
    <div class="container">
        <div class="row multi-columns-row">
            <div class="cmt-box-col-wrapper col-lg-4">
                <app-blog-type-card year="2014"
                                    detail="Afriglobal group (formerly Nagode group) emerged as one of the 
                                    16 African Global Growth Companies (GGCs) Companies to join the World 
                                    Economic Forum’s (WEF) Global Growth Companies community."
                                    image="/assets/images/awards/4.png">
                </app-blog-type-card>
            </div>
            
            <div class="cmt-box-col-wrapper col-lg-4">
                <app-blog-type-card year="2014"
                                    detail="Nagode Industries Limited was listed among six Nigerian 
                                    Companies set for massive growth by the International Business
                                     Times."
                                    image="/assets/images/awards/3.png">
                </app-blog-type-card>
            </div>

            <div class="cmt-box-col-wrapper col-lg-4">
                <app-blog-type-card year="2016"
                                    detail="Afriglobal Commodities ranked 10th among the top 100 
                                    Chemical distributors in Middle East Africa according to the
                                     most prestigious chemical magazine – ICIS Chemical Business 
                                     Magazine.."
                                    image="/assets/images/awards/2.png">
                </app-blog-type-card>
            </div>

        </div>
        <div class="row multi-columns-row">
            <div class="cmt-box-col-wrapper col-lg-4">
                <app-blog-type-card year="2016"
                                    detail="Afriglobal Commodities ranked 108th globally among the top 
                                    328 Chemical distributors worldwide. This is according to the most 
                                    prestigious chemical magazine – ICIS Chemical Business Magazine."
                                    image="/assets/images/awards/2.png">
                </app-blog-type-card>
            </div>

            <div class="cmt-box-col-wrapper col-lg-4">
                <app-blog-type-card year="2017"
                                    detail="Afriglobal Group ( Formerly Nagode Group) was named in the first 
                                    ever “Companies to Inspire Africa” report by the London Stock Exchange 
                                    (LSE) as part of 58 companies in Nigeria who have demonstrated the success 
                                    of Nigeria’s effort to diversify its economy and as part of 343 companies 
                                    in Africa to lead real change."
                                    image="/assets/images/awards/1.png">
                </app-blog-type-card>
            </div>

            <div class="cmt-box-col-wrapper col-lg-4">
                <app-blog-type-card year="2017"
                                    detail="Afriglobal Commodities is ranked as the 10th Chemical distributor in 
                                    Middle East/Africa and the 1st in Nigeria by the most prestigious chemical 
                                    magazine – ICIS Chemical Business Magazine."
                                    image="/assets/images/awards/2.png">
                </app-blog-type-card>
            </div>

        </div>
        <!-- <div class="pagination-block mb-40 res-991-mt-15">
            <a class="page-numbers current" href="#">1</a>
            <a class="page-numbers" href="#">2</a>
            <a class="next page-numbers" href="#"><i class="ti ti-arrow-right"></i></a>
        </div> -->
    </div>
</section>
<!--grid-section end-->

