



<div class="cmt-service-single-content-area">
    <div class="mb-30">
        <p>Air Freight import & export activities using regular airlines and/or 
            chartered full cargo aircraft are part of the daily activities managed 
            by Afriglobal Logistics staff.</p>

        <p>We offer the following services:</p>

        <ul>
            <li>Air freight from & to any worldwide destination</li>
            <li>Airport cargo handling services</li>
            <li>Dangerous goods handling</li>
            <li>Bonded transhipment</li>
            <li>Customs clearance and pre-release</li>
        </ul>
    </div>
    <div class="cmt-featured-wrapper mb-40 res-991-mb-20">
        <img class="img-fluid" src="/assets/images/services/serv3.jpg" alt="">
    </div>
 
</div>