    <!--footer start-->
    <footer class="footer widget-footer cmt-bgcolor-grey clearfix">
        <div class="first-footer bg-img6 cmt-bg cmt-bgimage-yes cmt-bgcolor-darkgrey">
            <div class="cmt-row-wrapper-bg-layer cmt-bg-layer"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 widget-area">  
                       <div class="widget widget-out-link clearfix">
                            <i class="ti ti-mobile"></i>
                            <h3 class="widget-title">Have a question? call us now</h3>
                            <p>Office: +234 8091221764</p>
                            <a class="cmt-btn btn-inline cmt-btn-size-sm cmt-btn-color-white" href="#">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 widget-area">  
                       <div class="widget widget-out-link clearfix">
                            <i class="ti ti-email"></i>
                            <h3 class="widget-title">Need support? Drop us an email</h3>
                            <p>info@afriglobal-logistics.com</p>
                            <a class="cmt-btn btn-inline cmt-btn-size-sm cmt-btn-color-white" href="#">Our Form</a>
                        </div>
                    </div> 
                    <div class="col-xs-12 col-sm-12 col-md-4 widget-area">
                        <div class="widget widget-out-link clearfix">
                            <i class="ti ti-timer"></i>
                            <h3 class="widget-title">We are open on</h3>
                            <p>Mon – Sat 09:00AM – 4:00PM <br>Sunday – Closed</p>
                            <a class="cmt-btn btn-inline cmt-btn-size-sm cmt-btn-color-white" href="#">Read More</a>
                        </div>
                    </div>
                </div><!-- row end -->    
            </div>
        </div>
        <div class="second-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_text clearfix">
                            <div class="footer-logo">
                                <img id="footer-logo-img" class="img-center" src="/assets/images/logo.png" alt="">
                            </div>
                            <div class="textwidget widget-text">
                                <p>We have a team of experienced professionals who are dedicated to providing you with the highest level of service.</p>
                            </div>
                            <div class="cmt-horizontal_sep width-100 mt-25 mb-25">
                                <span class="sep_holder"><span class="sep_line"></span></span>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-darkgrey cmt-icon_element-size-md mb-0">
                                    <i class="fa fa-files-o"></i>
                                </div>
                                <div class="pl-15">
                                    <h5 class="mb-0">Get Free Estimates</h5>
                                    <div class="desc cmt-textcolor-skincolor">+234 8091221764</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_nav_menu clearfix">
                           <h3 class="widget-title">Quick Links</h3>
                            <ul id="menu-footer-quick-links">
                                <li><a (click)="route('about-afriglobal')">About Us</a></li>
                                <li><a (click)="route('integrated-logistics-solution')">Our Services</a></li>
                                <li><a (click)="route('csr-activities')">CSR</a></li>
                                <li><a (click)="route('hse-policy')">HSE Policy</a></li>
                                <li><a (click)="route('get-qoute')">Get a Qoute</a></li>
                                <li><a (click)="route('contact')">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                        <div class="widget style2 widget-out-link clearfix">
                           <h3 class="widget-title">Recent Posts</h3>
                            <!-- <ul class="widget-post cmt-recent-post-list">
                                <li>
                                    <a href="blog-single.html"><img src="/assets/images/blog/thumb-01.jpg" alt="post-img"></a>
                                    <div class="post_detail">
                                        <span class="post-date"><i class="fa fa-calendar"></i>Nov 06, 2019</span>
                                        <a href="blog-single.html">5 ways to boost the warehouse performance in logistics.</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="blog-single.html"><img src="/assets/images/blog/thumb-02.jpg" alt="post-img"></a>
                                    <div class="post_detail">
                                        <span class="post-date"><i class="fa fa-calendar"></i>Dec 24, 2019</span>
                                        <a href="blog-single.html">We are the change in logistics : See insights before</a>
                                    </div>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget-social clearfix">
                           <h3 class="widget-title">Our Newsletter</h3>
                           <p>Subscribe to our newsletter to receive latest news on our services.</p>
                            <form class="pt-10" id="subscribe-form" method="post" action="#" data-mailchimp="true">
                                <div class="ttm_subscribe_form">
                                    <input type="email" name="email" placeholder="Email Address Here...." required="">
                                    <button class="btn cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-fill cmt-btn-color-skincolor" type="submit">go</button>
                                </div>
                                <div class="subscribe-response"></div>
                            </form>
                            <div class="social-icons circle mt-30">
                                <ul class="list-inline">
                                    <li class="social-facebook"><a class="tooltip-top" target="_blank"  data-tooltip="Facebook"><i class="ti ti-facebook"></i></a></li>
                                    <li class="social-twitter"><a class="tooltip-top" target="_blank"  data-tooltip="Linkedin"><i class="ti ti-linkedin"></i></a></li>
                                    <li class="social-instagram"><a class="tooltip-top" target="_blank"  data-tooltip="Google"><i class="ti ti-google"></i></a></li>
                                    <li class="social-twitter"><a class="tooltip-top" target="_blank"  data-tooltip="twitter"><i class="ti ti-twitter-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer-text">
            <div class="container">
                <div class="row copyright">
                    <div class="col-lg-12">
                        <div><span class="cmt-textcolor-skincolor mr-2"><i class="fa fa-map-marker"></i></span>2-4 kazuma street, Apapa, Lagos, Nigeria.</div>
                        <span><a>© 2022 AfriGlobal Logistics & Supply Chain Solutions Limited. All rights reserved.</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end-->

    <!--back-to-top start-->
    <a id="totop" href="#top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!--back-to-top end-->