



<div class="cmt-service-single-content-area">
    <div class="mb-30">
        <p>Afriglobal Logistics core business is focused on delivery any type 
            of material on a door-to-door basis to its clients.</p>

        <p>The service starts from expediting of the purchase orders placed 
            abroad by the client and ends when the goods is delivered to its 
            warehouse/premises anywhere into the Nigerian territory.</p>

        <p>The same concept/system is applied also to export cargo from any 
            origin point in Nigeria to any country of destination. Partnership 
            and alliances in place with major global freight forwarders is the 
            key factor of the success of such concept.</p>
    </div>
    <div class="cmt-featured-wrapper mb-40 res-991-mb-20">
        <img class="img-fluid" src="/assets/images/services/serv2.jpg" alt="">
    </div>
 
</div>