<div class="header">
    <app-others-header page="About Us" subpage="Quality Assurance"></app-others-header>
</div>


<div class="section-content">
        <!--fea_list-section-->
        <section class="cmt-row fea_list-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 col-sm-9 mx-auto">
                        <!-- ttm_single_image-wrapper -->
                        <div class="ttm_single_image-wrapper">
                            <img class="img-fluid" src="/assets/images/single-img-seven.jpg" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-10">
                        <div class="cmt-bgcolor-white pt-50 pb-45 pl-40 mt-80 ml_130 res-991-mt-0 res-991-ml-0 res-991-pl-0 res-991-pb-0">
                            <!-- section title -->
                            <div class="section-title">
                                <div class="title-header">
                                    <h5>Quality Assurance</h5>
                                    <h2 class="title">We Have 10 Years Experiance</h2>
                                </div>
                            </div><!-- section title end -->
                            <p>Coupled with our experience we have taken every necessary approach to ensure that products and services meet customer expectations. We work closely with Organizations incharge of quality assurance to achieve this. These organizations include:</p>
                            <div class="mt-25 mb-25">
                                <span class="cmt-horizontal_sep"></span>
                            </div>
                            <div class="featuredbox-number">
                                <!--featured-icon-box-->
                                <div class="featured-icon-box icon-align-before-content style4">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-darkgrey cmt-icon_element-size-sm"> 
                                            <i class="cmt-num ti-info"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h3>The Chartered Institute of Logistics & Transport (CILT)</h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>The leading professional body for everyone who works in supply chain, logistics and transport.</p>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                                <!--featured-icon-box-->
                                <div class="featured-icon-box icon-align-before-content style4">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-darkgrey cmt-icon_element-size-sm"> 
                                            <i class="cmt-num ti-info"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h3>Cargo Connections </h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>An ISO 9001 and ISO 14001 certified freight network offering a Restricted Representation policy, which means membership will only be offered to a limited number of forwarders who offer air, sea and road freight services in each country.</p>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                                <!--featured-icon-box-->
                                <div class="featured-icon-box icon-align-before-content style4">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-darkgrey cmt-icon_element-size-sm"> 
                                            <i class="cmt-num ti-info"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h3>Trace Certified</h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>We have strong relationships with all major shipping lines, Shipping terminals, regulatory agencies <strong>including:</strong></p>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>              
                        </div>
                    </div>
                </div><!-- row end -->


                <!-- list of quality-assurance -->
                <div class="row featuredbox-number">
                    <div class="col-md-4">
                        <!--featured-icon-box-->
                        <div class="featured-icon-box icon-align-before-content icon-ver_align-top mb-20">
                            
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h4>National Agency for Food and Drug Administration and Control</h4>
                                </div>
                                
                            </div>
                        </div><!-- featured-icon-box end-->
                    </div>
                    <div class="col-md-4">
                        <!--featured-icon-box-->
                        <div class="featured-icon-box icon-align-before-content icon-ver_align-top mb-20">
                            
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h4>Standards Organization of Nigeria</h4>
                                </div>
                               
                            </div>
                        </div><!-- featured-icon-box end-->
                    </div>
                    <div class="col-md-4">
                        <!--featured-icon-box-->
                        <div class="featured-icon-box icon-align-before-content icon-ver_align-top">
                            
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h4>Nigerian Customs</h4>
                                </div>
                                
                            </div>
                        </div><!-- featured-icon-box end-->
                    </div>
                </div>

                <div class="row featuredbox-number">
                    <div class="col-md-4">
                        <!--featured-icon-box-->
                        <div class="featured-icon-box icon-align-before-content icon-ver_align-top mb-20">
                            
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h4>Nigeria Police</h4>
                                </div>
                                
                            </div>
                        </div><!-- featured-icon-box end-->
                    </div>
                    <div class="col-md-4">
                        <!--featured-icon-box-->
                        <div class="featured-icon-box icon-align-before-content icon-ver_align-top mb-20">
                            
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h3>Nigerian Ports Authority</h3>
                                </div>
                               
                            </div>
                        </div><!-- featured-icon-box end-->
                    </div>
                    <div class="col-md-4">
                        <!--featured-icon-box-->
                        <div class="featured-icon-box icon-align-before-content icon-ver_align-top">
                            
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h4>National Drug Law Enforcement Agency</h4>
                                </div>
                                
                            </div>
                        </div><!-- featured-icon-box end-->
                    </div>
                </div>
            </div>
        </section>
        <!--fea_list-section end-->

</div>

