



<div class="cmt-service-single-content-area">
    <div class="mb-30">
        <p>Afriglobal Logistics offers:</p>

        <ul>
            <li>Nigerian import & export know-how</li>
            <li>Form M management</li>
            <li>Duty assessment based on PAAR</li>
            <li>Own Asycuda setup providing electronic SGDs Pre-checking of documents prior shipping to Nigeria Midstream approval management Bond processing for T.I. shipments</li>
            <li>Clearing in less than 10 days</li>
            <li>Bonded Warehouse</li>
        </ul>
    </div>
    <div class="cmt-featured-wrapper mb-40 res-991-mb-20">
        <div class="row">
            <div class="col-md-10 m-auto">
                <img class="img-fluid" src="/assets/images/services/serv8.jpg" alt="">
            </div>
        </div>
    </div>
 
</div>