



<div class="cmt-service-single-content-area">
    <div class="mb-30">
        <p>We offer the following services:</p>

        <ul>
            <li>BB/FCL/LCL service from & to any worldwide destination Cooperation with reputable Shipping Lines</li>
            <li>Midstream discharge approvals for oversized cargo (project related)</li>
            <li>Dangerous goods handling</li>
            <li>Customs clearance and pre-release</li>
            <li>Groupage service / Consolidation - Deconsolidation</li>
        </ul>
    </div>
    <div class="cmt-featured-wrapper mb-40 res-991-mb-20">
        <img class="img-fluid" src="/assets/images/services/serv5.jpg" alt="">
    </div>
 
</div>