<!--cta_form-section-->
<section
  class="cmt-row cta_form-section bg-layer-equal-height bg-img4 bg-layer clearfix"
>
  <div class="container">
    <!-- row -->
    <div class="row no-gutters">
      <div class="col-lg-6 col-md-12 ml-auto">
        <div
          class="cmt-col-bgcolor-yes cmt-bgcolor-darkgrey cmt-col-bgimage-yes col-bg-img-six cmt-bg cmt-right-span spacing-1"
        >
          <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
            <div class="cmt-col-wrapper-bg-layer-inner"></div>
          </div>
          <div class="layer-content">
            <!-- section-title -->
            <div class="section-title">
              <div class="title-header">
                <h5>READY TO HELP</h5>
                <h2 class="title">Get a Quote Today.</h2>
              </div>
            </div>
            <!-- section-title end -->
            <form
              id=""
              class="contact__form cmt-contactform-1 wrap-form clearfix"
            >
              <div class="row">
                <div class="col-lg-6">
                  <label>
                    <span class="text-input"
                      ><input
                        name="name"
                        type="text"
                        value=""
                        placeholder="Your Name"
                        required="required"
                    /></span>
                  </label>
                </div>
                <div class="col-lg-6">
                  <label>
                    <span class="text-input"
                      ><input
                        name="address"
                        type="text"
                        value=""
                        placeholder="Your Email"
                        required="required"
                    /></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <label>
                    <span class="text-input"
                      ><input
                        name="phone"
                        type="text"
                        value=""
                        placeholder="Phone Number"
                        required="required"
                    /></span>
                  </label>
                </div>
                <div class="col-lg-6">
                  <label>
                    <span class="text-input"
                      ><input
                        name="phone"
                        type="text"
                        value=""
                        placeholder="Subject"
                        required="required"
                    /></span>
                  </label>
                </div>
              </div>
              <label>
                <span class="text-input">
                  <textarea
                    name="message"
                    rows="3"
                    placeholder="Message"
                    required="required"
                  ></textarea>
                </span>
              </label>
              <button
                class="submit cmt-btn cmt-btn-size-md cmt-btn-shape-rounded cmt-btn-style-fill cmt-btn-color-skincolor"
                (click)="submit()"
              >
                Get An Appointment!
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- row end -->
  </div>
</section>
<!--cta_form-section end-->
