



<div class="cmt-service-single-content-area">
    <div class="mb-30">
        <p>Afriglobal Logistics has access and operates a modern, continuously
             maintained and upgraded fleet of trucks, trailers and low-loaders 
             to meet any transport need of our clients.</p>

        <ul>
            <li>Transport from & to any destination in Nigeria</li>
            <li>More than 100 vehicles ranging from standard to heavy-duty haulage</li>
            <li>Various trailers from 30 to 130 tons capacity</li>
            <li>Heavy duty hydraulic modular trailers</li>
        </ul>
    </div>
    <div class="cmt-featured-wrapper mb-40 res-991-mb-20">
        <div class="row">
            <div class="col-md-12">
                <img class="img-fluid" src="/assets/images/services/serv9.jpg" alt="">
            </div>
            
        </div>
    </div>
 
</div>